.sainteye {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/saint_eye.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.religious_rings {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/religious_rings.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.blinding_bomb {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/blinding_bomb.png");
    background-size: cover;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.globular_dome {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/globular_dome.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.katar {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/sacrificial_katar.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.shield {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/wiki/item_icons/holy_shield.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.holytear {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/holy_tear.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.baptised_plate {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/baptized_plate.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.ench_silk {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/enhanced_silk.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.evan_boot {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/evangelist_boots.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.evan_leg {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/evangelist_leggings.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.evan_chest {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/evangelist_chestplate.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.evan_helm {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/evangelist_helmet.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.diving {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/wiki/block_icons/divining_table.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}.candel {
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/candelabra.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.candleh{
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/candleholder.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.scross{
    background-image: url("https://the-dead-comedian.github.io/HolyHell/src/main/resources/assets/holyhell/textures/item/stone_cross.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.fcross{
    background-image: url("https://the-dead-comedian.github.io/HolyHell/wiki/block_icons/falling_cross.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.cherub{
    background-image: url("https://the-dead-comedian.github.io/HolyHell/wiki/item_icons/cherub_spawn_egg.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.angel{
    background-image: url("https://the-dead-comedian.github.io/HolyHell/wiki/item_icons/angel_spawn_egg.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}.kamikaze{
    background-image: url("https://the-dead-comedian.github.io/HolyHell/wiki/item_icons/kamikaze_spawn_egg.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}.heretic{
     background-image: url("https://the-dead-comedian.github.io/HolyHell/wiki/item_icons/heretic_spawn_egg.png");
     background-size: cover;
     background-repeat: no-repeat;
     image-rendering: pixelated;
     height: 29px;
     width: 29px;
     display: block;
     cursor: default;
 }.bab{
    background-image: url("https://the-dead-comedian.github.io/HolyHell/wiki/item_icons/bab_spawn_egg.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}.spirit{
    background-image: url("https://the-dead-comedian.github.io/HolyHell/wiki/item_icons/spirit_spawn_egg.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
.missing{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.forgecdn.net%2Favatars%2F44%2F335%2F636030690961068207.png&f=1&nofb=1&ipt=420786c1ad6da8304dfa7a8be59f6ffa03b37106c99a64a88b8d520adfa75379&ipo=images");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 29px;
    width: 29px;
    display: block;
    cursor: default;
}
